<!DOCTYPE html>
<html>
  <head>
    <title>Classes at <%= shopName %></title>
    <link rel="stylesheet" href="/style.css" />
  </head>

  <body>
    <nav class="navigation">
      <a class="navbutton" href="/">Home</a>
      <a class="navbutton" href="/gyms">Gyms</a>
      <a class="navbutton" href="/classes">Classes</a>
      <a class="navbutton" href="/aboutus">About Us</a>
      <a class="navbutton" href="/contactus">Contact Us</a>
      <a class="navbutton" href="/login">Login</a>
    </nav>
    <header>
      <h1>Classes</h1>
    </header>
    <main>
      <h2>Weekly Schedule</h2>
      <div>
        <form method="GET" action="/classes">
          <label for="searchclasses">Search Classes: </label>
          <input
            type="text"
            id="searchclasses"
            name="searchclasses"
            placeholder="e.g. Cardio"
          />
          <div><button type="submit">Search</button></div>
        </form>
      </div>
      <% classes = classes || []; %>
      <table>
        <thead>
          <tr>
            <th>Day</th>
            <th>Time</th>
            <th>Class</th>
            <th>Duration</th>
          </tr>
        </thead>
        <tbody>
          <% if (classes && classes.length > 0) { %> <% classes.forEach(c => {%>
          <tr>
            <td><%=c.day_of_week %></td>
            <td><%=c.start_time.substring(0,5) %></td>
            <td><%=c.name %></td>
            <td><%=c.duration_minutes %> mins</td>
          </tr>
          <%})%> <%} else {%>
          <tr>
            <td colspan="4">No classes available at this time.</td>
          </tr>
          <%}%>
        </tbody>
      </table>
    </main>
    <footer>
      <p>&copy; <%= shopName %> 2025</p>
      <p>Updated: December 2025</p>
    </footer>
  </body>
</html>
