<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to <%= shopName %></title>
    <link rel="stylesheet" href="/style.css" />
  </head>

  <body>
    <nav class="navigation">
      <a class="navbutton" href="/">Home</a>
      <a class="navbutton" href="/gyms">Gyms</a>
      <a class="navbutton" href="/classes">Classes</a>
      <a class="navbutton" href="/aboutus">About Us</a>
      <a class="navbutton" href="/contactus">Contact Us</a>
      <% if (user) { %>
      <a class="navbutton" href="/logout">Logout</a>
      <% } else { %>
      <a class="navbutton" href="/login">Login</a>
      <% } %>
    </nav>
    <header>
      <% if (user) { %>
      <h1>Welcome <%= user.forename %> to <%= shopName %></h1>
      <% } else { %>
      <h1>Welcome to <%= shopName %></h1>
      <% } %>
    </header>
    <main>
      <p></p>
    </main>
    <footer>
      <p>&copy; <%= shopName %> 2025</p>
      <p>Updated: December 2025</p>
    </footer>
  </body>
</html>
